body {
    background-color: white;
}

header {
    display: flex;
    float: right;
    padding: 5px;
    gap: 8px;
    margin: 2px 3px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: 0;
}

.ci {
    height: 4px;
    width: 4px;
    background: #5f6368;
    margin: 1px;
   border-radius: 4px;
}

.sign {
    background-color: #1a73e8;
    color: white;
    border-radius: 4px;
    padding: 9px 25px;
    margin-left: 8px;
}

.logo {
    width: 420px;
    height: 139px;
    margin-left: 394px;
    padding: 22px 30px;
}

.box {
    display: flex;
    z-index:3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 1px auto;
    width: auto;
    max-width: 584px;
    padding: 1px auto;
}

.search {
    flex-wrap: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    padding: 5px 8px 0px 14px;
}

.icon {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: 5px;
    }

.Mbox {
        margin-top: 4px;
        font-size: 9px;

        
    }

.QCzoEc {
    margin-top: 5px;
    color: #9aa0a6;
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.gmic {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 32px;
    font-size: 9px;
    margin-left: 302px;
    margin-top: 5px;
}
.mic {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
   
}


input[type="submit" i] {
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color:#f8f9fa;
    color: #3c4043;
    padding: 10px 2px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    border-radius: 6px;
    margin: 20px 21px 0px 10px;
    font-family: arial,sans-serif;
    font-size: 14px;
    min-width: 54px;
}

.lang {
    color: #3c4043;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    margin-left: 356px;
    font-size: 14px;
    padding: 20px 3px;
    }
    a {
        color: #1a0dab;
        text-decoration: none;
        text-decoration: underline;
        margin-left: 5px;
        width:auto;
    }

    .foot {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    padding:15px 25px;
    border-bottom:1px solid #dadce0;
    font-size:15px;
    color:#70757a;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    justify-content:space-evenly;
    display:block;
    white-space:nowrap;
    margin-top: 85px;
    }

    .foot1 {
        background: #f2f2f2;
        flex-shrink: 0;
        box-sizing: border-box;
        padding:11px 2px;
        border-bottom:1px solid #dadce0;
        font-size:15px;
        color:#70757a;
        display:flex;
        flex-wrap:wrap;
    
    }

    .foot2 {
        display:flex;
        background: #f2f2f2;
        padding:13px 0px;
        font-size:15px;
        color:#70757a;
        
    }

    .foot3 {
        display: flex;
        float: right;
        font-size: 15px;
        padding: 0px 3px;
        text-align: center;
    }
    